page-home {
    .Weather{
        background-image: url('../../assets/imgs/season.jpg');
        background-repeat :no-repeat;
        background-size:cover;
       }

       .cities{
           background-color:lightblue;
       }
       .display{
        box-shadow: 0px 1px 5px #555;
        font-size: 2rem;
           background-color:lightblue;
           padding: 10px 20px;
           display: grid;
         
         

       }
       .hum{
           background-color:transparent;
       }
       .temp{
        background-color:transparent;
    }
    .wind{
        background-color:transparent;
    }
    .descrip{
        background-color:transparent;
    }
    .date{
        background-color:transparent;
    }
    .main{
        background-color:transparent;
    }
    [text-color="my-custom-color"] {
        color: blue;
    }
    }

